// Code generated by Fern. DO NOT EDIT.

package webhook

import (
	context "context"
	http "net/http"

	roamhq "ro.am/roamhq"
	core "ro.am/roamhq/core"
	internal "ro.am/roamhq/internal"
	option "ro.am/roamhq/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List all webhook subscriptions owned by the authenticated API client.
//
// The response includes both **dynamic** subscriptions (created via
// [`/webhook.subscribe`](https://developer.ro.am/docs/webhooks/webhook-subscribe)) and **static**
// subscriptions configured in the Roam Administration UI.
//
// Each object may include `lastSuccessAt`, `failStreakStartedAt`, and
// `disabledAt` (omitted when null). `disabledAt` means the destination is
// paused. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).
//
// **Required scope:** `webhook:read`
//
// Example:
//
//	client.Webhook.List(
//	    context.TODO(),
//	)
func (c *Client) List(
	ctx context.Context,
	opts ...option.RequestOption,
) (*roamhq.ListWebhookResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Create or update a webhook subscription for a given event. If a subscription
// already exists for the same event and URL, its filter is updated instead of
// creating a duplicate. Re-subscribing the same event and URL also clears a
// pause (`disabledAt` / `failStreakStartedAt`) so deliveries resume on the
// next event. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).
//
// **Event names are dotted:** `chat.message`, `lobby.booked`,
// `magicast.created`. Colon names (`chat:message:dm`, `lobby:booked`) are
// v0-only — sending them here returns `400` / `Unrecognized event`.
//
// Roam does not probe the destination URL when you subscribe — the
// subscription is created immediately and the first delivery is a real event.
//
// Optional `filter` limits which occurrences are delivered. Which keys are
// valid depends on `event` — see that event's page and the
// [Event Filters](https://developer.ro.am/docs/webhooks/webhooks#event-filters) table. Omit
// `filter` to receive every occurrence. An empty object (`{}`) is rejected,
// as is a filter that does not apply to the event.
//
// **DMs only:**
//
// ```json
//
//	{
//	  "url": "https://example.com/hooks/messages",
//	  "event": "chat.message",
//	  "filter": { "chatType": "dm" }
//	}
//
// ```
//
// **Required scope:** `webhook:write`
//
// Example:
//
//	request := &roamhq.WebhookSubscriptionRequest{
//	    URL: "https://example.com/hooks/messages",
//	    Event: roamhq.WebhookSubscriptionRequestEventChatMessage,
//	}
//	client.Webhook.Subscribe(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Subscribe(
	ctx context.Context,
	request *roamhq.WebhookSubscriptionRequest,
	opts ...option.RequestOption,
) (*roamhq.Webhook, error) {
	response, err := c.WithRawResponse.Subscribe(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Remove a webhook subscription by ID.
//
// The request body is JSON: `{"id": "<subscription uuid>"}`. This differs
// from v0, which expects `application/x-www-form-urlencoded` with the same
// `id` field. Sending JSON to `/v0/webhook.unsubscribe` returns
// `id parameter required`.
//
// **Required scope:** `webhook:write`
//
// Example:
//
//	request := &roamhq.WebhookUnsubscribeRequest{
//	    ID: "19c6401f-6d02-4d8c-87c5-9fc45f02f4b5",
//	}
//	client.Webhook.Unsubscribe(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Unsubscribe(
	ctx context.Context,
	request *roamhq.WebhookUnsubscribeRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Unsubscribe(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// List recent **failed** webhook delivery attempts for the authenticated API
// client, newest first. Use this to debug a misbehaving endpoint and to find
// the events you need to replay: successful (2xx) deliveries are never
// recorded, so every row here is a delivery your endpoint did not accept.
//
// Timeouts are first-class failures: `statusCode` is `0` and `error` is
// `timeout`. For HTTP error responses, a truncated copy of your server's
// response body is included to aid debugging. The request payload is never
// stored — to recover the data, re-fetch the underlying resource (e.g. via
// `chat.history`) using the delivery's `messageId`/`event` context.
//
// Results are strictly scoped to the caller's own subscriptions and retained
// for roughly 30 days.
//
// **Access:** Organization and Personal.
//
// **Required scope:** `webhook:read`
//
// Example:
//
//	request := &roamhq.DeliveriesWebhookRequest{}
//	client.Webhook.Deliveries(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Deliveries(
	ctx context.Context,
	request *roamhq.DeliveriesWebhookRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *roamhq.DeliveriesWebhookResponseDeliveriesItem, *roamhq.DeliveriesWebhookResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.ro.am/v1",
	)
	endpointURL := baseURL + "/webhook.deliveries"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(roamhq.ErrorCodes),
		}
	}
	readPageResponse := func(response *roamhq.DeliveriesWebhookResponse) *core.PageResponse[*string, *roamhq.DeliveriesWebhookResponseDeliveriesItem, *roamhq.DeliveriesWebhookResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetDeliveries()
		return &core.PageResponse[*string, *roamhq.DeliveriesWebhookResponseDeliveriesItem, *roamhq.DeliveriesWebhookResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
